/* font for css */

body h1{
    font-family: 'Poppins', sans-serif;
}

/* style of header  */

 .box{
    background-color: blue;
     display: flex;
     padding-left: 150px;
 }
 .font{
     color: white;
     width: 400px;
     font-size: 40px;
 }
 .font button{
     background-color: #E02C6D;
     color: white;
     padding: 10px 24px;
      }
 button:hover{
          transform: rotate(180deg);
          transition: 5s 1s;
      }
 .link{
     text-decoration: none;
 }
 .banner-size{
     width: 500px;
     height: 500px;
     padding-top: 50px;
     padding-left: 100px;
 }

/* player section is here  */

.container{
   padding-bottom: 70px;
}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 10px;
   padding-left: 50px;
}
.player{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    Width: 330px;
    Height: 474px;
    margin-top: 27px;
    padding: 15px;
}
.player-size{
    width: 330px;
    height: 256px;
}

/* watch live session  */
.live-session{
    display: flex;
    padding-left: 100px;
}
.text-of-live{
   width: 200px;
   font-size: 30px;

}
.video-of-live{
   padding-left: 400px;
}

/* logo section  */

.logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
.logo-size{
    width: 483px;
    height: 110px;
}
.mini-logo{
    display: flex;
    padding-bottom: 30px;   
}
.mini-logo-size{
    width: 30px;
    height: 30px;
       padding-right: 30px;
}

/* media query part  */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .container-box, .players, .logos{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .logo{
        flex-direction: column;
      }
}